<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <title>P2Pwn Me</title>
</head>
<body>
  <header>
    <h1>P2PWN Me</h1>
  </header>
  <div class="container">
    <section class="chat-room"></section>
    <section id="lobby" class="lobby">
      <ul>
        <% for( let i = 0; i < hosts.length; i++) { %>
          <li><a href="<%= hosts[i].entry_url %>"><%= hosts[i].display_name%></a></li>
        <% } %>
      </ul>
    </section>
  </div>
  <script src="js/lobby-loader.js"></script>
</body>
</html>