*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Press Start 2P", serif;
  font-size: 10px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/images/green_marble.jpg);
  color: white;
  overflow-x: hidden;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.lobby-header h1 {
  position: relative;
  font-size: 4rem;
  margin-top: 4rem;
}

.lobby-header h1::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 116px;
  height: 4px;
  background: #ff5e00;
}

.container {
  max-width: 640px;
  width: 100%;
  min-height: calc(100vh - 48px);
  margin: 0;
  margin-left: 10rem;
  overflow: auto;
}

.lobby {
  background-color: #000;
  margin-top: 4rem;
  padding: 1.5rem;
  border-style: solid;
  border-bottom-color: #bbbbbb;
  border-right-color: #dddddd;
  border-left-color: #333333;
  border-top-color: #555555;
}

.lobby ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lobby li {
  margin-bottom: 0.4rem;
}

.lobby li a {
  text-decoration: none;
  color: #ced290ff;
  font-size: 2rem;
  padding: 1rem;
  height: 5rem;
  display: block;
  background-color: #222;
  border-style: solid;
  border-bottom-color: #333333;
  border-right-color: #555555;
  border-left-color: #bbbbbb;
  border-top-color: #dddddd;
}

.center {
  text-align: center;
}

hr {
  border-color: #ff5e00;
  border-width: 2px;
  margin-top: 8rem;
}

#hackbit-vote-widget {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button {
  padding: 1.6rem 2.5rem;
  margin: 6rem auto;
  display: inline-block;
  background: linear-gradient(
    to bottom,
    #f9ede4 2%,
    #d07432 2%,
    #f78b3f 3%,
    #d26101 91%,
    #8e4510 91%,
    #ca5b0b 98%,
    #000000 98%
  );
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.button:hover {
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  background: linear-gradient(
    to bottom,
    #000 2%,
    #cc5500 3%,
    #da864a 91%,
    #da864a 98%
  );
}
